@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@font-face {
  font-family: IRANSansXFaNum;
  src: url("../fonts/IRANSansX/IRANSansXFaNum-UltraLight.woff2");
  font-weight: 300;
}
@font-face {
  font-family: IRANSansXFaNum;
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Light.woff2");
  font-weight: 400;
}
@font-face {
  font-family: IRANSansXFaNum;
  src: url("../fonts/IRANSansX/IRANSansXFaNum-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: IRANSansXFaNum;
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: IRANSansXFaNum;
  src: url("../fonts/IRANSansX/IRANSansX-ExtraBold.woff2");
  font-weight: 750;
}

@font-face {
  font-family: IRANSansXFaNum;
  src: url("../fonts/IRANSansX/IRANSansXFaNum-Black.woff2");
  font-weight: 800;
}

:root {
  font-family: IRANSansX,IRANSansXFaNum, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 8px;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
